// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) Jisheng Zhang <jszhang@kernel.org>
 */

/dts-v1/;

#include "sun50i-h618-longan-module-3h.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Sipeed Longan Pi 3H";
	compatible = "sipeed,longan-pi-3h", "sipeed,longan-module-3h", "allwinner,sun50i-h618";

	aliases {
		ethernet0 = &emac0;
		ethernet1 = &emac1;
		serial0 = &uart0;
		ve0 = &ve;
		ve1 = &ve1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0x0 0x40000000 0x0 0xffffffff>;
			size = <0x0 0x8000000>;
			linux,cma-default;
		};
	};

	hdmi_connector: connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			gpios = <&pio 6 2 GPIO_ACTIVE_HIGH>; /* PG2 */
			linux,default-trigger = "heartbeat";
			status = "okay";
		};

		led-1 {
			gpios = <&pio 6 4 GPIO_ACTIVE_HIGH>; /* PG4 */
			status = "disabled";
		};
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the USB-C socket */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	fan0: pwm-fan {
        compatible = "pwm-fan";
        cooling-levels = <1 100 150 200 255>;
        #cooling-cells = <2>;
		pwms = <&pwm 2 50000 1>;
		status = "okay";
    };

	thermal-zones {
		cpu-thermal {
			cooling-maps {
				map0 {
					trip = <&cpu_threshold>;
					cooling-device = <&fan0 0 2>;
				};
				map1 {
					trip = <&cpu_target>;
					cooling-device = <&fan0 2 4>;
				};
			};
		};
	};
};

&axp313 {
	vin1-supply = <&reg_vcc5v>;
	vin2-supply = <&reg_vcc5v>;
	vin3-supply = <&reg_vcc5v>;
};

&de {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&emac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ext_rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rgmii_phy>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	phy-supply = <&reg_dldo1>;
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&mdio0 {
	ext_rgmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&emac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&ac300_ephy>;
	phy-supply = <&reg_dldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";
};

&mdio1 {
	ac300_ephy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mmc0 {
	bus-width = <4>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>;	/* PF6 */
	vmmc-supply = <&reg_dldo1>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg_pins>;
	status = "okay";
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>, <&spi1_cs1_pin>;
	status = "okay";

	display: st7789t3@1{
		compatible = "sitronix,st7789t3";
		reg = <1>;
		status = "okay";
		spi-max-frequency = <80000000>;
		spi-cpol;
		spi-cpha;
		rotate = <90>;
		fps = <60>;
		rgb;
		buswidth = <8>;
		dc-gpios = <&pio 6 11 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pio 6 13 GPIO_ACTIVE_LOW>;
		debug = <0>;
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_pg_pins>;
	status = "okay";
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pg_pins>;
	clock-frequency = <400000>;
};

&usbotg {
	/*
	 * PHY0 pins are connected to a USB-C socket, but a role switch
	 * is not implemented: both CC pins are pulled to GND.
	 * The VBUS pins power the device, so a fixed peripheral mode
	 * is the best choice.
	 * The board can be powered via GPIOs, in this case port0 *can*
	 * act as a host (with a cable/adapter ignoring CC), as VBUS is
	 * then provided by the GPIOs. Any user of this setup would
	 * need to adjust the DT accordingly: dr_mode set to "host",
	 * enabling OHCI0 and EHCI0.
	 */
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&ve {
	ve-supply = <&reg_dldo1>;
	status="okay";
};

&ve1 {
	status="okay";
};

&pwm {
	status = "okay";
};